html, body {  
    overflow-x: hidden; 
   }
.main{
    background:url(../images/b2.gif);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7);
    padding:40px;
    padding-bottom:80px;
    background-size: fixed;
    background-position: 0%;  
    
}
.main .row{
    background: none;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);
}
.main .row h1{
    color:white;
    font-size: 80px;
    font-family: 'Fresca', sans-serif;
    font-weight: bolder;
    letter-spacing: 10px;
    text-align:center;
   margin:10px auto;
}
.main .row img{
    height:200px;
    display: block;
    margin:20px auto;
}
.main .contact{
    margin:40px 200px;
}
.main .contact h1{
    font-size:30px;
    letter-spacing: 10px;
}
.main h1{
    color:white;
    font-family: 'Fresca', sans-serif;
    text-align: center;
    letter-spacing: 6px;
    font-size:30px;
    margin-top:30px;
    /* text-decoration: underline; */

}
.main a{
    color:white;
    letter-spacing: 5px;
}
.break{
    display: none;
}
.contact .col-lg-6{
    border-right: 3px dashed white ;
}
.space{
    display: contents;
}
@media screen and (max-width: 900px){
    .main{
        margin: 0px auto;
        display: block;
        background-position: 30%;        
    }
    .main .contact{
        margin:40px 200px;
    }
    .main .row h1{
        font-size: 35px;
        letter-spacing: 3px;
    }
    .main .row a{
        font-size:25px;
    }
    .break{
        display: contents;
    }
    .main h1{
        font-size: 25px;
    }
    .main .contact{
        margin:20px;

    }
    .main .contact h1{
        font-size:25px;
    }
    .contact{
        border:3px dashed white;
    }
    .contact .col-lg-6{
        border: none;
    }
    .space{
        display: none;
    }
    .main a{
        font-size:20px;
    
    }
    .main i{
        font-size:20px;
    }
}